{% extends 'layout.html.twig' %} 
{% block pagecss %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom_content.css') }}">
    <style>
    </style>
{% endblock %}
{% block content %}
    <div class="container mt15">
        <div class="row">
            <div class="col-md-9">
                {% embed 'pages/parts/page_header.html.twig' %}
                    {% block pageheader %}
                        <ul class="breadcrumb">
                            <li><a href="#">Мэдээ мэдээлэл</a></li>
                            <li><a href="#">Цаг үе үйл явдал</a></li>
                        </ul>
                    {% endblock %}
                {% endembed %}
                <div class="row">
                    <h2>{{post[0].title}}</h2>
                    <p>{{post[0].createdAt|date("Y-m-d H:i")}}</p>
                    <img class="col-sm-6" src="{{ asset('uploads/images/post/') }}{{post[0].images[0].image}}">

                    {{post[0].content | raw}}

                    {% for img in post[0].images %}
                        <img class="col-sm-6" src="{{ asset('uploads/images/post/') }}{{img.image}}">
                    {% endfor %}
                </div>
            </div>
            {% include 'pages/parts/left_sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom_content.js') }}"></script>
{% endblock %}