{% extends 'layout.html.twig' %} 
{% block pagecss %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom_content.css') }}">
    <style>
        .news-row h2{
            padding-right:15px;
            padding-left:15px;
        }
        .news-row p{
            padding-right:15px;
            padding-left:15px;
        }
        .news-row img{
            margin-bottom: 15px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt15">
        <div class="row">
            <div class="col-md-9">
                {% embed 'pages/parts/page_header.html.twig' %}
                    {% block pageheader %}
                        <ul class="breadcrumb">
                            <li><a href="#">Үйл ажиллагаа</a></li>
                            <li><a href="{{path('conference_list')}}">ШӨХТГ-ын хуралдаан</a></li>
                        </ul>
                    {% endblock %}
                {% endembed %}
                <div class="row news-row">
                    <h2>{{conference[0].title}}</h2>
                    <p>{{conference[0].createdAt|date("Y-m-d H:i")}}</p>
                    <p>{{conference[0].subject}}</p>
                    {{conference[0].content | raw}}
                </div>
            </div>
            {% include 'pages/parts/left_sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom_content.js') }}"></script>
{% endblock %}