{% extends 'layout.html.twig' %} 
{% block pagecss %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom_content.css') }}">
    <style>
        .news-row h2{
            padding-right:15px;
            padding-left:15px;
        }
        .news-row p{
            padding-right:15px;
            padding-left:15px;
        }
        .news-row img{
            margin-bottom: 15px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt15">
        <div class="row">
            <div class="col-md-9">
                {% embed 'pages/parts/page_header.html.twig' %}
                    {% block pageheader %}
                        <ul class="breadcrumb">
                            <li><a href="#">Мэдээ мэдээлэл</a></li>
                            <li><a href="#">Цаг үе үйл явдал</a></li>
                        </ul>
                    {% endblock %}
                {% endembed %}
                <div class="row news-row">
                    <h2>{{post[0].title}}</h2>
                    <p>{{post[0].createdAt|date("Y-m-d H:i")}}</p>
                    {% if post[0].images|length != 0%}
                        <img class="col-xs-12" src="{{ asset('uploads/images/post/') }}{{post[0].images[0].image}}">
                        {% set usedId = post[0].images[0].id %}
                    {% endif %}

                    {{post[0].content | raw}}

                    {% if post[0].images|length > 1%}
                        {% for img in post[0].images %}
                            {% if usedId != img.id %}
                                <img class="col-xs-12" src="{{ asset('uploads/images/post/') }}{{img.image}}">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% include 'pages/parts/left_sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom_content.js') }}"></script>
{% endblock %}