{% extends 'layout.html.twig' %} 
{% block pagecss %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom_content.css') }}">
    <style>
        .news-row{
            margin-bottom: 15px;
        }
        .news-row h2{
            margin-top: 0px;
            padding-left: 12px;
        }
        .news-row p{
            padding-right:15px;
            padding-left:15px;
        }
        .pagination{
            margin-top: 0px !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt15">
        <div class="row">
            <div class="col-md-9">
                {% embed 'pages/parts/page_header.html.twig' %}
                    {% block pageheader %}
                        <ul class="breadcrumb">
                            <li><a href="#">Үйл ажиллагаа</a></li>
                            <li><a href="{{path('conference_list')}}">ШӨХТГ-ын хуралдаан</a></li>
                        </ul>
                    {% endblock %}
                {% endembed %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>№ ХУРАЛДААН</th>
                            <th>Огноо</th>
                            <th>Хэлэлцэх асуудал</th>
                            <th>Хуралдааны тойм</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conference in conferences %}
                            <tr>
                                <td><a href="{{path('conference_show', { 'id': conference.id })}}">{{conference.title}}</a></td>
                                <td>{{conference.createdAt|date("Y-m-d H:i")}}</td>
                                <td>{{conference.subject}}</td>
                                <td>{{conference.content | easyadmin_truncate(20) | raw}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if maxPages > 1 %}
                    <ul class="pagination">
                        {# `«` arrow  #}
                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                            <a href="{{ path('news_list', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                        </li>

                        {# Render each page number #}
                        {% for i in 1..maxPages %}
                            <li {{ thisPage == i ? 'class="active"' }}>
                                <a href="{{ path('conference_list', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {# `»` arrow #}
                        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path('conference_list', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                        </li>
                    </ul>
                {% endif %}

            </div>
            {% include 'pages/parts/left_sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom_content.js') }}"></script>
{% endblock %}