{% extends 'base.html.twig' %} 
{% block stylesheets %}
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/owl.carousel/dist/assets/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom_layout.css') }}">
    {% block pagecss %}
    {% endblock %}
{% endblock %} 
{% block body %}
    <div class="affix-header" style="height:200px;">
        <div class="affix-content"> <img class="affix-logo" src="{{ asset('assets/image/logo/logo-big.png') }}" alt="logo">
            <h7 class="affix-title-top">ЗАСГИЙН ГАЗРЫН ТОХИРУУЛАГЧ АГЕНТЛАГ</h7> 
            <h2 class="affix-title-bot">ШУДАРГА ӨРСӨЛДӨӨН<br> ХЭРЭГЛЭГЧИЙН ТӨЛӨӨ ГАЗАР</h2> 
        </div>
        <div class="affix-bg"> </div>
    </div>
    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="200">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="affix-logo navbar-brand" href="#"><img src="{{ asset('assets/image/logo/logo-big.png') }}" alt="logo"> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{path('homepage')}}">Нүүр хуудас<span class="sr-only">(current)</span></a> </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Бидний тухай<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('greetingpage')}}">Мэндчилгээ</a> </li>
                        <li><a href="#">Зорилго зорилт</a> </li>
                        <li><a href="#">Бүтэц</a> </li>
                        <li><a href="#">Түүхэн замнал</a> </li>
                        <li><a href="#">Эрхзүйн байдал</a> </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Үйл ажиллагаа<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('conference_list')}}">ШӨХТГ-ын хуралдаан</a> </li>
                        <li><a href="#">Өргөдөл гомдол</a> </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Хөтөлбөр</a> </li>
                        <li><a href="#">Төсөл</a> </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мэдээ мэдээлэл<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('news_list')}}">Цаг үе, үйл явдал</a> </li>
                        <li><a href="#">Илтгэл</a> </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Хяналт шинжилгээ<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Төлөвлөгөө</a> </li>
                        <li><a href="#">Мэдээлэл</a> </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Хууль эрхзүй<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Албаны дүрэм</a> </li>
                        <li><a href="#">Журам</a> </li>
                        <li><a href="#">Тогтоол шийдвэр</a> </li>
                        <li><a href="#">Удирдамж</a> </li>
                        <li><a href="#">Бодлогын баримт бичиг</a> </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ил тод байдал<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Үйл ажиллагаа</a> </li>
                        <li><a href="#">Хүний нөөц</a> </li>
                        <li><a href="#">Төсөв, санхүү</a> </li>
                        <li><a href="#">Худалдан авалт</a> </li>
                        <li><a href="#">Ил тод байдал</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">Contact</h6>
                    <p>
                        Засгийн Газрын Тохируулагч Агентлаг<br>
                        Шударга өрсөлдөөн, Хэрэглэгчийн төлөө газар
                    </p>
                    <p>
                        <i class="fa fa-map-pin"></i>15141 Улаанбаатар хот, Чингэлтэй дүүрэг, 5-р хороо, Ж.Санбуугийн гудамж, Засгийн газрын 11-р байр, ш/х-38
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> (976) 1800-1284 /Санал гомдлын утас/
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> contact@afccp.gov.mn
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">General Links</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Холбоо барих</a></li>
                        <li><a href="#"> Хэрэглэгчийн булан</a></li>
                        <li><a href="#"> Сургалт</a></li>
                        <li><a href="#"> ШӨХТГ сэтгүүл</a></li>
                        <li><a href="#"> Орон нутаг</a></li>
                        <li><a href="#"> Case Studies</a></li>
                        <li><a href="#"> Frequently Ask Questions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">Latest Post</h6>
                    <div class="post">
                        <p>
                            facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>
                        </p>
                        <p>
                            facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>
                        </p>
                        <p>
                            facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
                        <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p>
                        ©2017 ОН. ШУДАРГА ӨРСӨЛДӨӨН. ХЭРЭГЛЭГЧИЙН ТӨЛӨӨ ГАЗАР
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="bottom_ul">
                        <li><a href="#">afccp.gov.mn</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Faq's</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %} 
{% block javascripts %}
    <script src="{{ asset('assets/vendor/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom_layout.js') }}"></script>
    {% block pagejs %}
    {% endblock %}
{% endblock %}