{% extends 'layout.html.twig' %} 
{% block pagecss %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom_content.css') }}">
{% endblock %}
{% block content %}
    <div class="container mt15">
        <div class="row">
            <div class="col-md-9">
                МОНГОЛ УЛСЫН ШАДАР САЙД У.ХҮРЭЛСҮХИЙН МЭНДЧИЛГЭЭ
                <img src="{{ asset('assets/image/picture/greeting/portrait.JPG') }}">

                Хүний эрх, эрх чөлөө, шударга ёс, хууль эрх зүйг дээдэлсэн манай нийгмийн үнэт зүйл, эрхэм дээд баялаг нь хүн юм. Монгол төрийн хүнээ дээдэлсэн  бодлого, эрхэм зорилгыг хэлбэрэлтгүй, тууштай хэрэгжүүлдэг шударга ёсны үнэнч харуулуудын нэг нь Шударга өрсөлдөөн, хэрэглэгчийн төлөө газрын хамт олон юм. 

                Иргэд, хэрэглэгчдийнхээ эрх ашгийг хамгаалан, зах зээлийн шударга өрсөлдөөнийг бий болгохын төлөө, төрийн хуулийг сахин биелүүлж ажилладаг энэ хамт олонд Монгол Улсын Засгийн газрын нэрийн өмнөөс болон хувиасаа талархал илэрхийлж  байна.

                Шударга өрсөлдөөн, хэрэглэгчийн төлөө газар бол зах зээлд шударга өрсөлдөөний тогтолцоог бүрдүүлэх, бизнес эрхлэгчдийг дэмжих, хэрэглэгчийн эрх ашгийг хамгаалах төрийн  чиг үүргийг хэрэгжүүлдэг байгууллага юм. 

                Монгол Улсын Засгийн газрын мөрийн хөтөлбөр, түүнийг хэрэгжүүлэх үйл ажиллагааны төлөвлөгөөнд шударга өрсөлдөөн хэрэглэгчийн төлөө салбарын хууль эрх зүйн орчныг төгөлдөршүүлж, хэрэглэгчийн эрхийг хамгаалах хөтөлбөрийг 2016-2020 онд хэрэгжүүлэхээр тусгаад байна. Үндэсний хөтөлбөрийг улс орон даяр үр өгөөжтэй хэрэгжүүлэхээр нийслэл, аймгуудын засаг дарга нарын үр дүнгийн гэрээнд тодорхой заалтуудыг тусган хэрэгжүүлж эхлээд байгаа бөгөөд тус хөтөлбөрийн хэрэгжилтийг хангах, хяналт тавих үүрэгтэй зөвлөл байгуулахаар идэвхийлэн ажиллаж байгаа нь Танай хамт олны үйл ажиллагааны нэгэн том ахиц, дэвшил юм. 

                Та бүхэн эрхэм үүргээ нэр төртэй биелүүлж, иргэд, хэрэглэгчдийн эрх ашгийг хамгаалж, төрийн хуулийг дээдлэн ажиллана гэдэгт би  итгэл төгс байна. 

                Монгол хүний үнэ цэнийг өсгөх, хэрэглэгчдийн эрх ашгийг хамгаалах, бизнесийн шударга өрсөлдөөний таатай орчиныг бүрдүүлэх, эдийн засагаа сэргээх Монгол Төрийн бодлогыг удирдлага болгон  Улс орныхоо хөгжил дэвшилийн төлөө хамтран ажиллацгаая.

                Та бүхэнд амжилт хүсье. 

                шударга өрсөлдөөнийг дэмжье,
                Хэрэглэгчийн эрхийг хамгаалъя!


                Монгол Улсын Шадар сайд    <img src="{{ asset('assets/image/picture/greeting/sign.JPG') }}">                                                       У.Хүрэлсүх
            </div>
            {% include 'leftSide.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom_content.js') }}"></script>
{% endblock %}